.add-transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgb(100, 98, 98);
  padding: 1rem;
  border-radius: 1rem;

  input,
  select {
    width: 300px;
  }
}

.table {
  margin-top: 2rem;
  background-color: rgb(134, 134, 134);
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.total-individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background-color: rgb(134, 134, 134);
  padding: 1rem;
  border-radius: 1rem;
  color: black;
}

.detalle {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ingreso {
  color: rgb(17, 119, 17);
}

.egreso {
  color: rgb(104, 14, 14);
}

.categories {
  cursor: pointer;
}

.total {
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: default;
  margin-bottom: 0;
}

.total:hover {
  background-color: rgb(69, 119, 88);
}

.dividido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dario {
  background-color: rgb(10, 150, 80);
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: default;
}

.malu {
  background-color: rgb(116, 12, 185);
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: default;
}

.dario:hover {
  background-color: rgb(9, 99, 54);
}

.malu:hover {
  background-color: rgb(69, 9, 109);
}
